body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lead {
  font-family: monospace;
}

#loading {
  display: flex;
  margin: 1rem 6rem;
  rotate: 90deg;
}

#loading > div {
  width: 1.2rem;
  height: 1.2rem;
  background: blue;
  margin: .1rem;
  border-radius: 50%;
  animation: 1.5s bounce infinite ease-in-out;
}

#loading  .dot-one {
  animation-delay: -0.30s;
}
#loading  .dot-two {
  animation-delay: -0.15s;
}
#loading  .dot-three {
  animation-delay: -0.10s;
}

@keyframes bounce {
  0%, 80%, 100% {
      transform: scale(0);
  } 
  40% {
      transform: scale(1);
  }
}